@charset "utf-8";
    $primary: #c53030;
    $success: #2C2929;
    .customModal {
        /*max-width: 500px;*/
        width: 90%;
        overflow: scroll;
        height: 40rem;
      }
    
@import "bulma/bulma.sass";